.DraftEditor-root {
  border: 1px solid #f1f1f1;
  padding: 15px;
  min-height: 200px;
  border-radius: 3px;
  margin: auto
}

.DraftEditor-editorContainer {
  margin-top: -20px;
}

.rdw-option-wrapper {
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.rdw-dropdown-wrapper {
  height: 20px;
  border-radius: 5px;

}